{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<button class="btn btn-sm btn-outline-primary" id="new_post">New Post</button>
    <div id="new_post-view">
        <h3>New Post</h3>
        <form id="new_post-form">
            <textarea class="form-control" id="new_post-text" placeholder="Type here..."></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}