{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<div id="new_post-view">
    
    <form id="new_post-form">
        <h5>New Post</h5>
        <textarea maxlength="280" class="form-control" id="new_post-text" placeholder="Type here..."></textarea>
        <button type="button" class="btn btn-primary" id="new_post-submit">Submit</button>
    </form>
</div>
{% endif %}

<div id="profile-view">
</div>
<div id="posts-view">
</div>
{% block script%}
<script src="https://kit.fontawesome.com/f9b7120ce2.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="{% static 'network/network.js' %}"></script>
{% endblock %}
{% endblock %}
