{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<div id="new_post-view">
    <h3>New Post</h3>
    <form id="new_post-form">
        <textarea class="form-control" id="new_post-text" placeholder="Type here..."></textarea>
        <input type="submit" class="btn btn-primary" id="new_post-submit"/>
    </form>
</div>
{% endif %}

<div id="posts-view">
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}