@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --border: #e1e5ea;
}
html, body {
    background-color: #e1e5ea;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
  }
  h3 {
    text-align: left;
    padding-top: 1em;
    padding-left: 1.5em;
    display: block;
  }
  .navbar{
    background: #faf3f3;
    color: #faf3f3;

    display: flex;
    justify-content: center;
  }
  /* Navbar animation from https://codepen.io/maheshambure21/pen/QwXaRw */
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }

  nav ul li a {
    position:relative;
    z-index: 1;
  }
  nav ul li a:hover {
    color: #da7f8f;
  }
  nav ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #da7f8f;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

  .heading_border {
    padding-left: 1.5em;
    color: red;
    height: 2em;
    width: 100%;
  }
 
  #new_post-view{
    display: flex;
    justify-content: center;
  }
  #new_post-form {
    width: 30em;
    background: #fff;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;  
    justify-content: center;
    text-align: center;
  }
  #new_post-text {
    padding: 1em;
  }
  #new_post-submit {
    margin: 1em;
    padding: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #da7f8f;
  }
  #new_post-submit:hover {
    background-color: #a7bbc7;
  }
  

  .wrapper {
    background-color: #e1e5ea;
    display: flex;
    justify-content: center;
    margin: 1em;
  }
  
  .card {
    width: 30em;
    background: #fff;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    
  }

  
  .card__header {
    display: flex;
  }
  
  .card__profile-img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .card__meta {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-left: 1em;
    font-size: 1em;
  }
  
  .card__meta__displayname {
    font-weight: 700;
  }
  .card__meta__displayname:hover {
    color:#da7f8f;
  }
  
  .card__meta__username {
    color: #999;
    font-size: 0.85em;
  }
  
  
  .card__meta__timestamp {
    color: #aaa;
    margin-top: 0.25em;
    font-size: 0.8em;
  }
  
  .card__menu {
    color: #aaa;
    font-size: 1.5em;
    align-self: center;
    margin-left: auto;
    margin-right: 0.25em;
  }
  
  .card__body {
    font-size: 1.5em;
    margin-top: 0.5em;
    padding-bottom: 1em;
  }
  
  .card__footer {
    display: flex;
    color: #666;
  }
  
  .card__footer__comment {
    margin-left: 1em;
  }
  .card__footer__comment:hover {
    color: #da7f8f;
  }
  .card__footer__like:hover {
    color: #da7f8f;
  }
  
  .card__footer__edit {
    margin-left: auto;
    margin-right: 0.5em;
    color: #999;
  }
  .card__footer__edit:hover {
    color: #da7f8f;
  }
  .edit_submit {
    margin-left: 16em;
    margin-right: 0.5em;
    color: #999;
  }

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: rgb(245, 245, 245);
}

.pagination ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #faf3f3;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.pagination ul li{
  color: #a7bbc7;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.pagination ul li:first-child{
  background-color: #e1e5ea;
  color: #a7bbc7;
  margin-right: 1em;
}
.pagination ul li:last-child{
  background-color: #e1e5ea;
  color: #a7bbc7;
  margin-left: 1em;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
  color: #faf3f3;
  background: #da7f8f;
}



.profilecard {
  width: 100%;
  background-color: #a7bbc7;
  padding: 3rem;
  justify-content: center;
  text-align: center;
  color: #e1e5ea;
}

.profilecard__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
}

.profilecard__profile img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.profilecard__name {
  margin-left: 1.25rem;
  
}

.profilecard__handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
}

.profilecard__button svg {
  height: 1.05rem;
  width: 1.05rem;
  margin-right: 5px;
}

.profilecard__button {
  margin-left: auto;
}
.profilecard__button {
  margin-left: auto;
}

.profilecard__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.05rem;
  background-color: #da7f8f;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.profilecard__button button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.profilecard__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span.circle {
  height: 3px;
  width: 3px;
  background-color: var(--primary);
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
}

.border {
  border-radius: 5px;
  height: 2px;
  background-color: var(--border);
  border: none;
  margin: 1.25rem 0;
}

.navlinks {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
  opacity: 1;
  font-weight: bold;
}

.navlinks li + li {
  margin-left: 20px;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  flex-direction: column;  
}
.modal-content {
  background-color: transparent;
  border-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
}
.modal-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}
.modal-body .card{
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.new_comment-form {
  width: 30em;
  background: #fff;
  border-radius: 1em;
  padding: 1em;
  justify-content: center;
  text-align: center;
}
.new_comment-form .form-control {
  padding: 1em;
}
.new_comment-form .btn{
  margin: 1em;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: #da7f8f;
}
.new_comment-form .btn:hover{
  background-color: #a7bbc7;
}
button:hover {
  background-color: #faf3f3;
}




