html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
  }
  
  .wrapper {
    background-color: #eee;
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
  }
  
  .card {
    width: 400px;
    display: grid;
    flex-direction: column;
    background: #fff;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
  }
  
  .card__header {
    display: flex;
  }
  
  .card__profile-img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .card__meta {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-left: 1em;
    font-size: 1em;
  }
  
  .card__meta__displayname {
    font-weight: 700;
  }
  .card__meta__displayname:hover {
    color:azure;
  }
  
  .card__meta__username {
    color: #999;
    font-size: 0.85em;
  }
  .card__meta__username:hover {
    color: azure;
  }
  
  .card__meta__timestamp {
    color: #aaa;
    margin-top: 0.25em;
    font-size: 0.8em;
  }
  
  .card__menu {
    color: #aaa;
    font-size: 1.5em;
    align-self: center;
    margin-left: auto;
    margin-right: 0.25em;
  }
  
  .card__body {
    font-size: 1.5em;
    margin-top: 0.5em;
    padding-bottom: 1em;
  }
  
  .card__footer {
    display: flex;
    color: #666;
  }
  
  .card__footer__comment {
    margin-left: 1em;
  }
  
  .card__footer__share {
    margin-left: auto;
    margin-right: 0.5em;
    color: #999;
  }

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #dddddd;
}

.pagination ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.pagination ul li{
  color: #20B2AA;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
  color: #fff;
  background: #20B2AA;
}
